# ===========================
# Python
# ===========================
__pycache__/
*.pyc

# ===========================
# VS Code
# ===========================
.vscode/

# ===========================
# Docker Runtime Data
# ===========================
data/postgres/
data/odoo/

# ===========================
# Logs
# ===========================
*.log

# ===========================
# Environment
# ===========================
.env

# ===========================
# macOS
# ===========================
.DS_Store

# ===========================
# Windows
# ===========================
Thumbs.db